In [1]:
import pandas as pd
import sqlite3
from tqdm.notebook import tqdm
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Hop teaming table
db = sqlite3.connect('data/hop_team.sqlite')

for chunk in tqdm(pd.read_csv('data/DocGraph_Hop_Teaming_2018.csv', chunksize = 100000)):
    chunk.columns = [x.lower().replace(' ', '_') for x in chunk.columns]
    chunk = chunk[(chunk['transaction_count'] >= 50) & (chunk['average_day_wait'] < 50)]
    chunk.to_sql('hop', db, if_exists = 'append', index = False)
    
db.close()

0it [00:00, ?it/s]

In [3]:
# NPPES table
db = sqlite3.connect('data/hop_team.sqlite')
for chunk in tqdm(pd.read_csv('data/npidata_pfile_20050523-20220213.csv', chunksize = 100000)):
    for counter in range(1,16):
        taxonomy_switch = chunk['Healthcare Provider Primary Taxonomy Switch_{}'.format(counter)] == 'Y'
        taxonomy_code_check = 'Healthcare Provider Taxonomy Code_{}'.format(counter)
        taxonomy_code = chunk.loc[taxonomy_switch, taxonomy_code_check]
        chunk.loc[taxonomy_switch, 'Healthcare Provider Taxonomy Code'] = taxonomy_code
    chunk = chunk[['NPI',
     'Entity Type Code',
     'Provider Organization Name (Legal Business Name)',
     'Provider Last Name (Legal Name)',
     'Provider First Name',
     'Provider Middle Name',
     'Provider Name Prefix Text',
     'Provider Name Suffix Text',
     'Provider Credential Text',
     'Provider First Line Business Practice Location Address',
     'Provider Second Line Business Practice Location Address',
     'Provider Business Practice Location Address City Name',
     'Provider Business Practice Location Address State Name',
     'Provider Business Practice Location Address Postal Code',
     'Healthcare Provider Taxonomy Code']]
    chunk.columns = [x.lower().replace(' ', '_') for x in chunk.columns]
    chunk.fillna(0)
    chunk['provider_business_practice_location_address_postal_code'] = chunk['provider_business_practice_location_address_postal_code'].astype(str)
    chunk['provider_business_practice_location_address_postal_code'] = [zip.replace(zip[:], zip[:5]) if len(zip) > 9 else zip for zip in chunk['provider_business_practice_location_address_postal_code']]
    chunk.to_sql('npi', db, if_exists = 'append', index = False)
db.close()

0it [00:00, ?it/s]

In [4]:
# Taxonomy table
db = sqlite3.connect('data/hop_team.sqlite')
for chunk in tqdm(pd.read_csv('data/nucc_taxonomy_220.csv', chunksize = 100000)):
    chunk = chunk[['Code',
                   'Grouping',
                   'Classification']]
    chunk.columns = [x.lower().replace(' ', '_') for x in chunk.columns]
    chunk.to_sql('taxonomy', db, if_exists = 'append', index = False)
db.close()

0it [00:00, ?it/s]

In [5]:
# CBSA-to-ZIP table
db = sqlite3.connect('data/hop_team.sqlite')
cbsa_excel = pd.read_excel('data/ZIP_CBSA_122021.xlsx', dtype=str)
cbsa_excel.to_sql('cbsa', db, if_exists = 'replace', index = False)
db.close()

In [12]:
#Indices for tables
db = sqlite3.connect('data/hop_team.sqlite')
db.execute('CREATE INDEX from_npi ON hop(from_npi)')
db.execute('CREATE INDEX to_npi ON hop(to_npi)')
db.execute('CREATE INDEX provider_business_practice_location_address_postal_code ON npi(provider_business_practice_location_address_postal_code)')
db.execute('CREATE INDEX provider_business_practice_location_address_city_name ON npi(provider_business_practice_location_address_city_name)')
db.execute('CREATE INDEX provider_business_practice_location_address_state_name ON npi(provider_business_practice_location_address_state_name)')

In [54]:
#Check npi table
db = sqlite3.connect('data/hop_team.sqlite')

query = "SELECT [provider_organization_name_(legal_business_name)] FROM npi LIMIT 100"

npi_sqlite = pd.read_sql(query, db)

db.close()

In [55]:
npi_sqlite

   provider_organization_name_(legal_business_name)
0                                              None
1                                              None
2            CUMBERLAND COUNTY HOSPITAL SYSTEM, INC
3                                              None
4                                              None
..                                              ...
95                                             None
96                                  AMOSKEAG HEALTH
97                  NOVAMED MANAGEMENT SERVICES LLC
98                                             None
99                                             None

[100 rows x 1 columns]

In [ ]:
db = sqlite3.connect('data/hop_team.sqlite')

query = """
SELECT 
    h.from_npi,
    h.to_npi,
    h.patient_count,
    h.transaction_count,
    h.average_day_wait,
    h.std_day_wait,
    n1.entity_type_code AS from_npi_entity_code,
    n2.entity_type_code AS to_npi_entity_code,
    n1.healthcare_provider_taxonomy_code AS from_npi_taxonomy_code,
    n2.healthcare_provider_taxonomy_code AS to_npi_taxonomy_code,
    t1.grouping AS from_npi_taxonomy_grouping,
    t1.classification AS from_npi_taxonomy_classification,
    t2.grouping AS to_npi_taxonomy_grouping,
    t2.classification AS to_npi_taxonomy_classification
FROM hop AS h
INNER JOIN npi AS n1
ON h.from_npi = n1.npi
INNER JOIN npi AS n2
ON h.to_npi = n2.npi
INNER JOIN taxonomy AS t1
ON t1.code = n2.healthcare_provider_taxonomy_code
INNER JOIN taxonomy AS t2
ON t2.code = n2.healthcare_provider_taxonomy_code
WHERE from_npi_entity_code = 1.0
    AND to_npi_entity_code = 2.0
"""
hop_npi_taxonomy_sqlite = pd.read_sql(query, db)

db.close()

In [12]:
db = sqlite3.connect('data/hop_team.sqlite')

query = "SELECT * FROM npi WHERE provider_business_practice_location_address_state_name = 'TN' AND provider_business_practice_location_address_state_name ILIKE 'VANDERBILT'"

npi_sqlite = pd.read_sql(query, db)

db.close()

DatabaseError: Execution failed on sql 'SELECT * FROM npi WHERE provider_business_practice_location_address_state_name = 'TN' AND provider_business_practice_location_address_state_name ILIKE 'VANDERBILT'': near "ILIKE": syntax error

In [3]:
npi_sqlite

,npi,entity_type_code,provider_organization_name_(legal_business_name),provider_last_name_(legal_name),provider_first_name,provider_middle_name,provider_name_prefix_text,provider_name_suffix_text,provider_credential_text,provider_first_line_business_practice_location_address,provider_second_line_business_practice_location_address,provider_business_practice_location_address_city_name,provider_business_practice_location_address_state_name,provider_business_practice_location_address_postal_code,healthcare_provider_taxonomy_code
0,1841293891,1.0,None,GIBBS,ELMER,RICKEY,DR.,None,M.D.,49 CLEVELAND ST 310,None,CROSSVILLE,TN,38555,208600000X
1,1659374601,1.0,None,OBERDICK,WENDY,TIPTON,None,None,MD,105 W STONE DR,STE 1F,KINGSPORT,TN,37660,207Q00000X
2,1134122187,1.0,None,RUDNICKE,CHERYL,DENISE,MRS.,None,CRNP,250 25TH AVE N,STE 412,NASHVILLE,TN,37203,363L00000X
3,1003819046,1.0,None,NYLANDER,BARBARA,H,None,None,M.D.,345 23RD AVE N,SUITE 209,NASHVILLE,TN,37203,207VG0400X
4,1750384780,1.0,None,PERRIGIN,JULIE,A,DR.,None,MD,219 CHURCH ST,None,DICKSON,TN,37055,207Q00000X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123505,1821743493,1.0,None,RUSSELL,KILA,None,None,None,None,3818 S LEE HWY,None,MC DONALD,TN,373535876,224P00000X
123506,1184379760,1.0,None,GAYLE,KAYLA,DANIELLE,None,None,FNP,2325 CRESTMOOR RD STE 101,None,NASHVILLE,TN,372152032,363LF0000X
123507,1891440475,1.0,None,JORDY,JEFFREY,LEE,None,None,LCSW,210 30TH AVE N APT 301,None,NASHVILLE,TN,372031583,101YM0800X
123508,1346995917,1.0,None,TAYLOR,KERI,None,None,None,OTR/L,2018 EXETER RD,None,GERMANTOWN,TN,381383945,225X00000X
123509,1962157545,1.0,None,BROOKS,CHANTEL,RUTH,None,None,DIPL. O.M. L.AC,2202 N JOHN B DENNIS HWY STE 201,None,KINGSPORT,TN,376605917,171100000X

In [5]:
db = sqlite3.connect('data/hop_team.sqlite')

query = "SELECT * FROM taxonomy"

taxonomy_sqlite = pd.read_sql(query, db)

db.close()

In [6]:
taxonomy_sqlite

,code,grouping,classification
0,193200000X,Group,Multi-Specialty
1,193400000X,Group,Single Specialty
2,207K00000X,Allopathic & Osteopathic Physicians,Allergy & Immunology
3,207KA0200X,Allopathic & Osteopathic Physicians,Allergy & Immunology
4,207KI0005X,Allopathic & Osteopathic Physicians,Allergy & Immunology
...,...,...,...
863,343800000X,Transportation Services,Secured Medical Transport (VAN)
864,344600000X,Transportation Services,Taxi
865,347D00000X,Transportation Services,Train
866,347E00000X,Transportation Services,Transportation Broker
867,342000000X,Transportation Services,Transportation Network Company

In [204]:
#Hospitals in Nashville metro and surrouding areas (cbsa) 
db = sqlite3.connect('data/hop_team.sqlite')

query = """
SELECT to_npi,  
       [provider_organization_name_(legal_business_name)],
       provider_first_line_business_practice_location_address,
       provider_business_practice_location_address_city_name,
       code,
       grouping,
       classification,
       SUM(transaction_count)
FROM hop 
INNER JOIN npi
ON hop.to_npi = npi.npi
INNER JOIN taxonomy
ON taxonomy.code=npi.healthcare_provider_taxonomy_code
INNER JOIN cbsa
ON cbsa.zip = npi.provider_business_practice_location_address_postal_code
WHERE provider_business_practice_location_address_city_name = 'NASHVILLE' AND 
  provider_business_practice_location_address_state_name = 'TN' AND
  grouping = 'Hospitals'
GROUP BY to_npi
ORDER BY SUM(transaction_count) DESC
LIMIT 100

"""

hop20 = pd.read_sql(query, db)

db.close()

In [205]:
pd.options.display.max_rows=100
hop20

,to_npi,provider_organization_name_(legal_business_name),provider_first_line_business_practice_location_address,provider_business_practice_location_address_city_name,code,grouping,classification,SUM(transaction_count)
0,1396882205,VANDERBILT UNIVERSITY MEDICAL CENTER,1211 MEDICAL CENTER DRIVE,NASHVILLE,282N00000X,Hospitals,General Acute Care Hospital,1263851
1,1023055126,"HCA HEALTH SERVICES OF TENNESSEE, INC.",2300 PATTERSON ST,NASHVILLE,282N00000X,Hospitals,General Acute Care Hospital,587886
2,1780778969,SAINT THOMAS WEST HOSPITAL,2000 CHURCH ST,NASHVILLE,282N00000X,Hospitals,General Acute Care Hospital,288411
3,1720032345,"HCA HEALTH SERVICES OF TENNESSEE, INC.",391 WALLACE RD,NASHVILLE,282N00000X,Hospitals,General Acute Care Hospital,123901
4,1932146032,"HCA HEALTH SERVICES OF TENNESSEE, INC.",2300 PATTERSON ST,NASHVILLE,282N00000X,Hospitals,General Acute Care Hospital,22550
5,1568551455,NASHVILLE GENERAL HOSPITAL,1818 ALBION ST,NASHVILLE,282N00000X,Hospitals,General Acute Care Hospital,21248
6,1215937982,SELECT SPECIALTY HOSPITAL - NASHVILLE LLC,2000 HAYES STREET,NASHVILLE,282E00000X,Hospitals,Long Term Care Hospital,14972
7,1598738205,VANDERBILT STALLWORTH REHABILITATION HOSPITAL LP,2201 CHILDRENS WAY,NASHVILLE,283X00000X,Hospitals,Rehabilitation Hospital,4517
8,1093769606,HTI MEMORIAL HOSPITAL CORPORATION,3441 DICKERSON PIKE,NASHVILLE,282N00000X,Hospitals,General Acute Care Hospital,3690
9,1124065255,"HCA HEALTH SERVICES OF TENNESSEE, INC.",391 WALLACE RD,NASHVILLE,282N00000X,Hospitals,General Acute Care Hospital,3106
10,1679924005,"CURAHEALTH NASHVILLE, LLC",1412 COUNTY HOSPITAL RD,NASHVILLE,282E00000X,Hospitals,Long Term Care Hospital,1914

In [225]:
#Habeeb main query
db = sqlite3.connect('data/hop_team.sqlite')

query = """
SELECT 
    h.from_npi,
    h.to_npi,
    h.patient_count,
    h.transaction_count,
    h.average_day_wait,
    n.provider_first_line_business_practice_location_address AS address,
    n.[provider_organization_name_(legal_business_name)] AS to_npi_name,
    n.provider_business_practice_location_address_city_name AS to_npi_city,
    n.provider_business_practice_location_address_state_name AS state,
    t.grouping AS to_npi_grouping,
    t.classification AS to_npi_classification
FROM hop AS h
INNER JOIN npi AS n
ON h.to_npi = n.npi
INNER JOIN taxonomy AS t
ON t.code = n.healthcare_provider_taxonomy_code
WHERE n.entity_type_code = '2'
    AND to_npi_city = 'NASHVILLE'
    AND state = 'TN'
"""
nashville_cbsa = pd.read_sql(query, db)

db.close()

In [227]:
nashville_cbsa[nashville_cbsa['to_npi_name'] LIKE 'VANDERBILT UNIVERSITY MEDICAL CENTER']

SyntaxError: invalid syntax (<ipython-input-227-a1855bae8134>, line 1)

In [226]:
nashville_cbsa

,from_npi,provider_organization_name_(legal_business_name),to_npi,patient_count,transaction_count,average_day_wait,address,to_npi_name,to_npi_city,state,to_npi_grouping,to_npi_classification
0,1548284060,"CARIS HEALTHCARE, LP",1609879956,31,55,37.200,2525 PERIMETER PLACE DR,"CARIS HEALTHCARE, LP",NASHVILLE,TN,Agencies,"Hospice Care, Community Based"
1,1780040139,"CARIS HEALTHCARE, LP",1609879956,30,51,8.863,2525 PERIMETER PLACE DR,"CARIS HEALTHCARE, LP",NASHVILLE,TN,Agencies,"Hospice Care, Community Based"
2,1558386433,"CARIS HEALTHCARE, LP",1609879956,20,57,11.930,2525 PERIMETER PLACE DR,"CARIS HEALTHCARE, LP",NASHVILLE,TN,Agencies,"Hospice Care, Community Based"
3,1417951302,"CARIS HEALTHCARE, LP",1609879956,17,59,0.814,2525 PERIMETER PLACE DR,"CARIS HEALTHCARE, LP",NASHVILLE,TN,Agencies,"Hospice Care, Community Based"
4,1437429552,"CARIS HEALTHCARE, LP",1609879956,67,87,25.161,2525 PERIMETER PLACE DR,"CARIS HEALTHCARE, LP",NASHVILLE,TN,Agencies,"Hospice Care, Community Based"
...,...,...,...,...,...,...,...,...,...,...,...,...
66760,1861478489,VICTOR KHA DO PLLC,1477042588,64,82,9.841,397 WALLACE RD STE 415,VICTOR KHA DO PLLC,NASHVILLE,TN,Allopathic & Osteopathic Physicians,Internal Medicine
66761,1114961513,VICTOR KHA DO PLLC,1477042588,50,64,22.891,397 WALLACE RD STE 415,VICTOR KHA DO PLLC,NASHVILLE,TN,Allopathic & Osteopathic Physicians,Internal Medicine
66762,1245393057,VICTOR KHA DO PLLC,1477042588,59,79,10.785,397 WALLACE RD STE 415,VICTOR KHA DO PLLC,NASHVILLE,TN,Allopathic & Osteopathic Physicians,Internal Medicine
66763,1396003356,VICTOR KHA DO PLLC,1477042588,74,131,0.000,397 WALLACE RD STE 415,VICTOR KHA DO PLLC,NASHVILLE,TN,Allopathic & Osteopathic Physicians,Internal Medicine
66764,1770667289,"MIDDLE TENNESSEE IMAGING, LLC",1932686318,52,54,0.000,5700 TEMPLE RD STE 102,"MIDDLE TENNESSEE IMAGING, LLC",NASHVILLE,TN,Ambulatory Health Care Facilities,Clinic/Center

In [186]:
#Vandy midtown referral types
db = sqlite3.connect('data/hop_team.sqlite')

query = """
SELECT classification,
       SUM(transaction_count) AS Vandy_Mid_Referral,
       ROUND(SUM(transaction_count) * 100.0 /SUM(SUM(transaction_count)) OVER (),2) AS Percent_of_Total_referrals
FROM hop 
INNER JOIN npi
ON hop.from_npi = npi.npi
INNER JOIN taxonomy
ON taxonomy.code=npi.healthcare_provider_taxonomy_code
INNER JOIN cbsa
ON cbsa.zip = npi.provider_business_practice_location_address_postal_code
WHERE to_npi ='1396882205'
GROUP BY classification
ORDER BY SUM(transaction_count) DESC
"""

vandy_mid = pd.read_sql(query, db)

db.close()

In [187]:
vandy_mid

,classification,Vandy_Mid_Referral,Percent_of_Total_referrals
0,Internal Medicine,286366,34.00
1,Radiology,105363,12.51
2,General Acute Care Hospital,53179,6.31
3,Family Medicine,52619,6.25
4,Nurse Practitioner,48838,5.80
5,Emergency Medicine,26015,3.09
6,Durable Medical Equipment & Medical Supplies,21596,2.56
7,Psychiatry & Neurology,20126,2.39
8,Ophthalmology,18614,2.21
9,Clinic/Center,18026,2.14
10,Anesthesiology,17232,2.05
11,Orthopaedic Surgery,15028,1.78
12,Pathology,13376,1.59
13,Specialist,13263,1.57
14,Surgery,10718,1.27
15,Otolaryngology,10615,1.26
16,Podiatrist,9813,1.16
17,Urology,9636,1.14
18,Pharmacy,9055,1.07
19,Ambulance,8099,0.96
20,"Nurse Anesthetist, Certified Registered",8049,0.96
21,Dermatology,7358,0.87
22,Hospitalist,5576,0.66
23,Clinical Medical Laboratory,4940,0.59
24,Physician Assistant,4709,0.56
25,Home Health,3790,0.45
26,Physical Medicine & Rehabilitation,3661,0.43
27,General Practice,3546,0.42
28,Nuclear Medicine,3208,0.38
29,Pain Medicine,3158,0.37
30,Neurological Surgery,3088,0.37
31,Obstetrics & Gynecology,2771,0.33
32,Thoracic Surgery (Cardiothoracic Vascular Surg...,2460,0.29
33,Allergy & Immunology,2225,0.26
34,Physical Therapist,2020,0.24
35,Skilled Nursing Facility,1983,0.24
36,Preventive Medicine,1964,0.23
37,Transplant Surgery,1322,0.16
38,Legal Medicine,1134,0.13
39,Physiological Laboratory,1059,0.13
40,Optometrist,1015,0.12
41,Chiropractor,974,0.12
42,Psychologist,684,0.08
43,Oral & Maxillofacial Surgery,564,0.07
44,Rehabilitation Hospital,520,0.06
45,Plastic Surgery,376,0.04
46,Prosthetic/Orthotic Supplier,350,0.04
47,Contractor,308,0.04
48,Clinical Neuropsychologist,265,0.03
49,Pediatrics,246,0.03
50,"Day Training, Developmentally Disabled Services",206,0.02
51,Colon & Rectal Surgery,190,0.02
52,Portable X-ray and/or Other Portable Diagnosti...,182,0.02
53,Audiologist,172,0.02
54,Clinical Pharmacology,139,0.02
55,Student in an Organized Health Care Education/...,121,0.01
56,Clinical Nurse Specialist,108,0.01
57,Long Term Care Hospital,98,0.01
58,Nursing Facility/Intermediate Care Facility,96,0.01
59,Rehabilitation Unit,67,0.01
60,Social Worker,56,0.01

In [229]:
#Vamsi code with NANs for vandy 
db = sqlite3.connect('data/hop_team.sqlite')

query = '''
WITH vandy AS (
    SELECT
        classification,
        [provider_organization_name_(legal_business_name)],
        AVG(patient_count) AS avg_vandy,
        SUM(CAST(patient_count AS INT)) AS sum_vandy
    FROM hop
    LEFT JOIN npi
    ON to_npi = npi
    LEFT JOIN taxonomy
    ON healthcare_provider_taxonomy_code = code
    WHERE entity_type_code = 2.0 AND provider_business_practice_location_address_city_name = 'NASHVILLE' AND [provider_organization_name_(legal_business_name)] LIKE '%VANDERBILT%'
    GROUP BY classification, [provider_organization_name_(legal_business_name)]
    ORDER BY AVG(patient_count) DESC
),
overall AS (
    SELECT
        classification,
        AVG(patient_count) AS overall_avg,
        CAST(SUM(patient_count) AS INT) AS overall_sum
    FROM hop
    LEFT JOIN npi
    ON to_npi = npi
    LEFT JOIN taxonomy
    ON healthcare_provider_taxonomy_code = code
    WHERE entity_type_code = 2.0 AND provider_business_practice_location_address_city_name = 'NASHVILLE' AND provider_business_practice_location_address_state_name = 'TN'
    GROUP BY classification
    ORDER BY AVG(patient_count) DESC
)
SELECT
    overall.classification,
    overall_avg,
    avg_vandy,
    sum_vandy,
    overall_sum
FROM overall
LEFT JOIN vandy
ON vandy.classification = overall.classification
GROUP BY overall.classification
ORDER BY avg_vandy DESC
'''
s = pd.read_sql(query, db)

db.close()

In [230]:
s

,classification,overall_avg,avg_vandy,sum_vandy,overall_sum
0,Radiology,304.316199,235.408451,16714.0,1213613
1,Internal Medicine,212.894482,228.814437,1166496.0,3950470
2,General Acute Care Hospital,237.801403,209.721938,779117.0,1830833
3,Home Health,102.145882,177.583333,2131.0,43412
4,Rehabilitation Hospital,101.119048,101.119048,4247.0,4247
5,Pharmacy,67.841689,80.888235,13751.0,25712
6,Clinic/Center,137.485431,55.652174,1280.0,235925
7,Urology,224.541985,NaN,NaN,176490
8,Thoracic Surgery (Cardiothoracic Vascular Surg...,116.860465,NaN,NaN,5025
9,Surgery,156.914793,NaN,NaN,132593
10,Specialist,257.709580,NaN,NaN,680611
11,Special Hospital,176.424658,NaN,NaN,12879
12,Social Worker,68.238095,NaN,NaN,2866
13,Skilled Nursing Facility,90.548387,NaN,NaN,33684
14,Rehabilitation Unit,108.192308,NaN,NaN,8439
15,Rehabilitation Practitioner,109.038462,NaN,NaN,2835
16,Psychologist,60.833333,NaN,NaN,730
17,Psychiatry & Neurology,128.791444,NaN,NaN,72252
18,Psychiatric Unit,124.544554,NaN,NaN,12579
19,Psychiatric Hospital,56.800000,NaN,NaN,284
20,Prosthetic/Orthotic Supplier,100.000000,NaN,NaN,1600
21,Preferred Provider Organization,79.500000,NaN,NaN,159
22,Portable X-ray and/or Other Portable Diagnosti...,125.935484,NaN,NaN,3904
23,Podiatrist,136.116592,NaN,NaN,30354
24,Plastic Surgery,85.857143,NaN,NaN,601
25,Physician Assistant,99.300000,NaN,NaN,993
26,Physical Therapist,113.783186,NaN,NaN,25715
27,Physical Medicine & Rehabilitation,96.983539,NaN,NaN,23567
28,Pathology,234.666667,NaN,NaN,140800
29,Pain Medicine,101.600000,NaN,NaN,2032
30,Otolaryngology,171.135593,NaN,NaN,10097
31,Orthopaedic Surgery,179.106520,NaN,NaN,277436
32,Optometrist,109.829545,NaN,NaN,9665
33,Ophthalmology,155.274968,NaN,NaN,119717
34,Occupational Therapist,30.875000,NaN,NaN,247
35,Obstetrics & Gynecology,155.340000,NaN,NaN,7767
36,Nursing Facility/Intermediate Care Facility,69.037037,NaN,NaN,1864
37,Nurse Practitioner,111.848653,NaN,NaN,282306
38,"Nurse Anesthetist, Certified Registered",212.367857,NaN,NaN,59463
39,Neurological Surgery,140.386047,NaN,NaN,30183
40,Long Term Care Hospital,76.784810,NaN,NaN,6066
41,Hospitalist,230.277372,NaN,NaN,63096
42,"Hospice Care, Community Based",102.689815,NaN,NaN,44362
43,General Practice,187.809524,NaN,NaN,11832
44,Family Medicine,143.020080,NaN,NaN,35612
45,Eyewear Supplier,64.000000,NaN,NaN,64
46,Emergency Medicine,231.447534,NaN,NaN,258064
47,Durable Medical Equipment & Medical Supplies,81.444956,NaN,NaN,194572
48,Dermatology,255.790476,NaN,NaN,26858
49,Dentist,68.900000,NaN,NaN,689
50,Counselor,57.000000,NaN,NaN,57
51,Community Based Residential Treatment Facility...,16.000000,NaN,NaN,48
52,Clinical Nurse Specialist,47.500000,NaN,NaN,95
53,Clinical Medical Laboratory,225.240846,NaN,NaN,2780373
54,Chiropractor,42.571429,NaN,NaN,1192
55,Audiologist-Hearing Aid Fitter,94.000000,NaN,NaN,470
56,Audiologist,74.666667,NaN,NaN,224
57,Assisted Living Facility,33.857143,NaN,NaN,474
58,Anesthesiology,255.051263,NaN,NaN,676651
59,Ambulance,160.972205,NaN,NaN,266409
60,Allergy & Immunology,111.000000,NaN,NaN,111
61,None,101.338462,NaN,NaN,6587

In [195]:
#Habeeb main query
db = sqlite3.connect('data/hop_team.sqlite')

query = """
SELECT 
    h.from_npi,
    h.to_npi,
    h.patient_count,
    h.transaction_count,
    h.average_day_wait,
    n.provider_first_line_business_practice_location_address AS address,
    n.[provider_organization_name_(legal_business_name)] AS to_npi_name,
    n.provider_business_practice_location_address_city_name AS to_npi_city,
    n.provider_business_practice_location_address_state_name AS state,
    t.grouping AS to_npi_grouping,
    t.classification AS to_npi_classification
FROM hop AS h
INNER JOIN npi AS n
ON h.to_npi = n.npi
INNER JOIN taxonomy AS t
ON t.code = n.healthcare_provider_taxonomy_code
WHERE n.entity_type_code = '2'
    AND to_npi_city = 'NASHVILLE'
    AND state = 'TN'
"""
nashville_cbsa = pd.read_sql(query, db)

db.close()

In [196]:
nashville_cbsa[nashville_cbsa['to_npi_name'] == 'VANDERBILT UNIVERSITY MEDICAL CENTER']

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,address,to_npi_name,to_npi_city,state,to_npi_grouping,to_npi_classification
46697,1518945195,1558408633,648,1577,0.682,1601 23RD AVE S,VANDERBILT UNIVERSITY MEDICAL CENTER,NASHVILLE,TN,Hospitals,General Acute Care Hospital
46698,1528034675,1558408633,69,76,5.237,1601 23RD AVE S,VANDERBILT UNIVERSITY MEDICAL CENTER,NASHVILLE,TN,Hospitals,General Acute Care Hospital
46699,1538153937,1558408633,91,124,45.532,1601 23RD AVE S,VANDERBILT UNIVERSITY MEDICAL CENTER,NASHVILLE,TN,Hospitals,General Acute Care Hospital
46700,1538243639,1558408633,75,193,1.472,1601 23RD AVE S,VANDERBILT UNIVERSITY MEDICAL CENTER,NASHVILLE,TN,Hospitals,General Acute Care Hospital
46701,1548284060,1558408633,127,189,40.582,1601 23RD AVE S,VANDERBILT UNIVERSITY MEDICAL CENTER,NASHVILLE,TN,Hospitals,General Acute Care Hospital
...,...,...,...,...,...,...,...,...,...,...,...
66657,1669554556,1972027159,30,75,23.080,2906 FOSTER CREIGHTON DR STE 100,VANDERBILT UNIVERSITY MEDICAL CENTER,NASHVILLE,TN,Ambulatory Health Care Facilities,Clinic/Center
66658,1104202761,1972027159,71,332,2.190,2906 FOSTER CREIGHTON DR STE 100,VANDERBILT UNIVERSITY MEDICAL CENTER,NASHVILLE,TN,Ambulatory Health Care Facilities,Clinic/Center
66659,1124024922,1972027159,41,85,41.929,2906 FOSTER CREIGHTON DR STE 100,VANDERBILT UNIVERSITY MEDICAL CENTER,NASHVILLE,TN,Ambulatory Health Care Facilities,Clinic/Center
66660,1992897326,1972027159,19,51,17.588,2906 FOSTER CREIGHTON DR STE 100,VANDERBILT UNIVERSITY MEDICAL CENTER,NASHVILLE,TN,Ambulatory Health Care Facilities,Clinic/Center
66661,1396882205,1972027159,63,186,19.667,2906 FOSTER CREIGHTON DR STE 100,VANDERBILT UNIVERSITY MEDICAL CENTER,NASHVILLE,TN,Ambulatory Health Care Facilities,Clinic/Center

In [155]:
#TriStar Centennial referral types
db = sqlite3.connect('data/hop_team.sqlite')

query = """
SELECT classification,
       SUM(transaction_count) AS TriStar_Centennial_Referral,
       ROUND(SUM(transaction_count) * 100.0 /SUM(SUM(transaction_count)) OVER (),2) AS Percent_of_Total_referrals
FROM hop 
INNER JOIN npi
ON hop.from_npi = npi.npi
INNER JOIN taxonomy
ON taxonomy.code=npi.healthcare_provider_taxonomy_code
INNER JOIN cbsa
ON cbsa.zip = npi.provider_business_practice_location_address_postal_code
WHERE to_npi ='1023055126'
GROUP BY classification
ORDER BY SUM(transaction_count) DESC
"""

tristar_centennial = pd.read_sql(query, db)

db.close()

In [157]:
tristar_centennial

,classification,TriStar_Centennial_Referral,Percent_of_Total_referrals
0,Internal Medicine,135192,37.38
1,Radiology,60877,16.83
2,Pathology,25500,7.05
3,Emergency Medicine,22298,6.17
4,General Acute Care Hospital,13023,3.60
5,Orthopaedic Surgery,12366,3.42
6,Family Medicine,10770,2.98
7,Nurse Practitioner,10437,2.89
8,Psychiatry & Neurology,8753,2.42
9,Surgery,7436,2.06
10,"Nurse Anesthetist, Certified Registered",6671,1.84
11,Ambulance,5154,1.43
12,Anesthesiology,4430,1.22
13,Hospitalist,4287,1.19
14,Durable Medical Equipment & Medical Supplies,3862,1.07
15,Physician Assistant,3611,1.00
16,Ophthalmology,3103,0.86
17,Specialist,2927,0.81
18,Obstetrics & Gynecology,2922,0.81
19,Thoracic Surgery (Cardiothoracic Vascular Surg...,2649,0.73
20,Podiatrist,2111,0.58
21,Psychiatric Unit,1958,0.54
22,Physical Medicine & Rehabilitation,1333,0.37
23,Neurological Surgery,1332,0.37
24,Otolaryngology,1186,0.33
25,Home Health,1029,0.28
26,Clinic/Center,1017,0.28
27,Skilled Nursing Facility,1008,0.28
28,General Practice,887,0.25
29,Clinical Medical Laboratory,655,0.18
30,Pharmacy,614,0.17
31,Physical Therapist,397,0.11
32,Student in an Organized Health Care Education/...,396,0.11
33,Urology,323,0.09
34,"Hospice Care, Community Based",303,0.08
35,Allergy & Immunology,225,0.06
36,Pain Medicine,199,0.06
37,Transplant Surgery,157,0.04
38,Nursing Facility/Intermediate Care Facility,112,0.03
39,Rehabilitation Unit,77,0.02
40,Long Term Care Hospital,58,0.02

In [156]:
#St.Thomas West referral types
db = sqlite3.connect('data/hop_team.sqlite')

query = """
SELECT classification,
       SUM(transaction_count) AS St_Thomas_West_Referrals,
       ROUND(SUM(transaction_count) * 100.0 /SUM(SUM(transaction_count)) OVER (),2) AS Percent_of_Total_referrals
FROM hop 
INNER JOIN npi
ON hop.from_npi = npi.npi
INNER JOIN taxonomy
ON taxonomy.code=npi.healthcare_provider_taxonomy_code
INNER JOIN cbsa
ON cbsa.zip = npi.provider_business_practice_location_address_postal_code
WHERE to_npi ='1780778969'
GROUP BY classification
ORDER BY SUM(transaction_count) DESC

"""

st_thomas_west = pd.read_sql(query, db)

db.close()

In [158]:
st_thomas_west

,classification,St_Thomas_West_Referrals,Percent_of_Total_referrals
0,Internal Medicine,109899,51.91
1,Radiology,26920,12.72
2,Pathology,8719,4.12
3,Surgery,7959,3.76
4,Orthopaedic Surgery,5881,2.78
5,General Acute Care Hospital,5690,2.69
6,Emergency Medicine,5091,2.40
7,Hospitalist,4976,2.35
8,"Nurse Anesthetist, Certified Registered",4436,2.10
9,Anesthesiology,3683,1.74
10,Nurse Practitioner,3312,1.56
11,Ambulance,2972,1.40
12,Family Medicine,2815,1.33
13,Durable Medical Equipment & Medical Supplies,2503,1.18
14,Specialist,2475,1.17
15,Preventive Medicine,2200,1.04
16,Obstetrics & Gynecology,1884,0.89
17,Psychiatry & Neurology,1419,0.67
18,Neurological Surgery,1143,0.54
19,Long Term Care Hospital,1089,0.51
20,Physical Medicine & Rehabilitation,1061,0.50
21,Podiatrist,1004,0.47
22,Clinic/Center,802,0.38
23,Physician Assistant,742,0.35
24,Home Health,601,0.28
25,Colon & Rectal Surgery,529,0.25
26,Skilled Nursing Facility,380,0.18
27,Urology,291,0.14
28,Pharmacy,274,0.13
29,Clinical Nurse Specialist,144,0.07
30,Pain Medicine,142,0.07
31,Otolaryngology,139,0.07
32,Clinical Medical Laboratory,116,0.05
33,General Practice,116,0.05
34,Plastic Surgery,110,0.05
35,Rehabilitation Unit,83,0.04
36,Physiological Laboratory,62,0.03
37,Occupational Therapist,55,0.03

In [159]:
#St Thomas Rutherford referral types
db = sqlite3.connect('data/hop_team.sqlite')

query = """
SELECT classification,
       SUM(transaction_count),
       ROUND(SUM(transaction_count) * 100.0 /SUM(SUM(transaction_count)) OVER (),2) AS Percent_of_Total_referrals
FROM hop 
INNER JOIN npi
ON hop.from_npi = npi.npi
INNER JOIN taxonomy
ON taxonomy.code=npi.healthcare_provider_taxonomy_code
INNER JOIN cbsa
ON cbsa.zip = npi.provider_business_practice_location_address_postal_code
WHERE to_npi ='1164590386'
GROUP BY classification
ORDER BY SUM(transaction_count) DESC

"""

st_thomas_rutherford = pd.read_sql(query, db)

db.close()

In [160]:
st_thomas_rutherford

,classification,SUM(transaction_count),Percent_of_Total_referrals
0,Internal Medicine,80477,40.24
1,Radiology,35389,17.69
2,Family Medicine,12175,6.09
3,Ambulance,8385,4.19
4,Emergency Medicine,8352,4.18
5,Anesthesiology,7848,3.92
6,Specialist,7590,3.79
7,General Acute Care Hospital,7362,3.68
8,Orthopaedic Surgery,4391,2.20
9,Nurse Practitioner,4126,2.06
10,Durable Medical Equipment & Medical Supplies,3264,1.63
11,Surgery,3147,1.57
12,"Nurse Anesthetist, Certified Registered",2579,1.29
13,Urology,2011,1.01
14,Hospitalist,1542,0.77
15,Pathology,1511,0.76
16,Home Health,1290,0.64
17,Physical Medicine & Rehabilitation,1286,0.64
18,Physician Assistant,800,0.40
19,Psychiatry & Neurology,800,0.40
20,Preventive Medicine,784,0.39
21,Pharmacy,646,0.32
22,Clinic/Center,615,0.31
23,Skilled Nursing Facility,614,0.31
24,Podiatrist,608,0.30
25,Clinical Medical Laboratory,443,0.22
26,Psychologist,401,0.20
27,Neurological Surgery,324,0.16
28,Pain Medicine,250,0.12
29,Rehabilitation Unit,188,0.09
30,Contractor,138,0.07
31,General Practice,134,0.07
32,Physiological Laboratory,124,0.06
33,Portable X-ray and/or Other Portable Diagnosti...,107,0.05
34,Rehabilitation Hospital,107,0.05
35,Anesthesiologist Assistant,88,0.04
36,Social Worker,65,0.03
37,Thoracic Surgery (Cardiothoracic Vascular Surg...,52,0.03

In [167]:
#TriStar summit referral types
db = sqlite3.connect('data/hop_team.sqlite')

query = """
SELECT classification,
       SUM(transaction_count) AS TriStar_Summit_Referrals,
       ROUND(SUM(transaction_count) * 100.0 /SUM(SUM(transaction_count)) OVER (),2) AS Percent_of_Total_referrals
FROM hop 
INNER JOIN npi
ON hop.from_npi = npi.npi
INNER JOIN taxonomy
ON taxonomy.code=npi.healthcare_provider_taxonomy_code
INNER JOIN cbsa
ON cbsa.zip = npi.provider_business_practice_location_address_postal_code
WHERE to_npi ='1982650024'
GROUP BY classification
ORDER BY SUM(transaction_count) DESC

"""

tristar_summit = pd.read_sql(query, db)

db.close()

In [168]:
tristar_summit

,classification,TriStar_Summit_Referrals,Percent_of_Total_referrals
0,Internal Medicine,70904,42.62
1,Radiology,38094,22.90
2,Emergency Medicine,7437,4.47
3,Family Medicine,6062,3.64
4,Physical Medicine & Rehabilitation,3977,2.39
5,Nurse Practitioner,3853,2.32
6,General Acute Care Hospital,3659,2.20
7,Specialist,3170,1.91
8,Pathology,3136,1.89
9,Ambulance,2916,1.75
10,Orthopaedic Surgery,2812,1.69
11,Otolaryngology,2247,1.35
12,Durable Medical Equipment & Medical Supplies,2198,1.32
13,Surgery,2150,1.29
14,Hospitalist,1354,0.81
15,Psychiatry & Neurology,1347,0.81
16,"Nurse Anesthetist, Certified Registered",1307,0.79
17,Pharmacy,1132,0.68
18,Physician Assistant,1032,0.62
19,Anesthesiology,1021,0.61
20,Clinic/Center,854,0.51
21,Podiatrist,839,0.50
22,Skilled Nursing Facility,716,0.43
23,Urology,657,0.39
24,Home Health,615,0.37
25,Neurological Surgery,430,0.26
26,Obstetrics & Gynecology,418,0.25
27,Physical Therapist,329,0.20
28,Ophthalmology,311,0.19
29,Dermatology,265,0.16
30,Pain Medicine,261,0.16
31,Nursing Facility/Intermediate Care Facility,214,0.13
32,Rehabilitation Unit,191,0.11
33,Allergy & Immunology,182,0.11
34,General Practice,180,0.11
35,Psychiatric Unit,91,0.05

In [177]:
db = sqlite3.connect('data/hop_team.sqlite')

query = """
WITH A AS(
SELECT classification,
       SUM(transaction_count) AS TriStar_Summit_Referrals,
       ROUND(SUM(transaction_count) * 100.0 /SUM(SUM(transaction_count)) OVER (),2) AS Percent_of_Total_referrals
FROM hop 
INNER JOIN npi
ON hop.from_npi = npi.npi
INNER JOIN taxonomy
ON taxonomy.code=npi.healthcare_provider_taxonomy_code
INNER JOIN cbsa
ON cbsa.zip = npi.provider_business_practice_location_address_postal_code
WHERE to_npi ='1982650024'
GROUP BY classification
ORDER BY SUM(transaction_count) DESC
),

B AS (
SELECT classification,
       SUM(transaction_count) AS St_Thomas_Rutherford_Referrals,
       ROUND(SUM(transaction_count) * 100.0 /SUM(SUM(transaction_count)) OVER (),2) AS Percent_of_Total_referrals
FROM hop 
INNER JOIN npi
ON hop.from_npi = npi.npi
INNER JOIN taxonomy
ON taxonomy.code=npi.healthcare_provider_taxonomy_code
INNER JOIN cbsa
ON cbsa.zip = npi.provider_business_practice_location_address_postal_code
WHERE to_npi ='1164590386'
GROUP BY classification
ORDER BY SUM(transaction_count) DESC),

C AS (
SELECT classification,
       SUM(transaction_count) AS Vandy_Mid_Referral,
       ROUND(SUM(transaction_count) * 100.0 /SUM(SUM(transaction_count)) OVER (),2) AS Percent_of_Total_referrals
FROM hop 
INNER JOIN npi
ON hop.from_npi = npi.npi
INNER JOIN taxonomy
ON taxonomy.code=npi.healthcare_provider_taxonomy_code
INNER JOIN cbsa
ON cbsa.zip = npi.provider_business_practice_location_address_postal_code
WHERE to_npi ='1396882205'
GROUP BY classification
ORDER BY SUM(transaction_count) DESC),

D AS (
SELECT classification,
       SUM(transaction_count) AS TriStar_Centennial_Referral,
       ROUND(SUM(transaction_count) * 100.0 /SUM(SUM(transaction_count)) OVER (),2) AS Percent_of_Total_referrals
FROM hop 
INNER JOIN npi
ON hop.from_npi = npi.npi
INNER JOIN taxonomy
ON taxonomy.code=npi.healthcare_provider_taxonomy_code
INNER JOIN cbsa
ON cbsa.zip = npi.provider_business_practice_location_address_postal_code
WHERE to_npi ='1023055126'
GROUP BY classification
ORDER BY SUM(transaction_count) DESC)

SELECT *
FROM A
JOIN B
USING(classification)
JOIN C
USING(classification)
JOIN D
USING(classification)

"""

TEST = pd.read_sql(query, db)

db.close()

In [178]:
TEST

,classification,TriStar_Summit_Referrals,Percent_of_Total_referrals,St_Thomas_Rutherford_Referrals,Percent_of_Total_referrals,Vandy_Mid_Referral,Percent_of_Total_referrals,TriStar_Centennial_Referral,Percent_of_Total_referrals
0,Internal Medicine,70904,42.62,80477,40.24,286366,34.00,135192,37.38
1,Radiology,38094,22.90,35389,17.69,105363,12.51,60877,16.83
2,Emergency Medicine,7437,4.47,8352,4.18,26015,3.09,22298,6.17
3,Family Medicine,6062,3.64,12175,6.09,52619,6.25,10770,2.98
4,Physical Medicine & Rehabilitation,3977,2.39,1286,0.64,3661,0.43,1333,0.37
5,Nurse Practitioner,3853,2.32,4126,2.06,48838,5.80,10437,2.89
6,General Acute Care Hospital,3659,2.20,7362,3.68,53179,6.31,13023,3.60
7,Specialist,3170,1.91,7590,3.79,13263,1.57,2927,0.81
8,Pathology,3136,1.89,1511,0.76,13376,1.59,25500,7.05
9,Ambulance,2916,1.75,8385,4.19,8099,0.96,5154,1.43
10,Orthopaedic Surgery,2812,1.69,4391,2.20,15028,1.78,12366,3.42
11,Durable Medical Equipment & Medical Supplies,2198,1.32,3264,1.63,21596,2.56,3862,1.07
12,Surgery,2150,1.29,3147,1.57,10718,1.27,7436,2.06
13,Hospitalist,1354,0.81,1542,0.77,5576,0.66,4287,1.19
14,Psychiatry & Neurology,1347,0.81,800,0.40,20126,2.39,8753,2.42
15,"Nurse Anesthetist, Certified Registered",1307,0.79,2579,1.29,8049,0.96,6671,1.84
16,Pharmacy,1132,0.68,646,0.32,9055,1.07,614,0.17
17,Physician Assistant,1032,0.62,800,0.40,4709,0.56,3611,1.00
18,Anesthesiology,1021,0.61,7848,3.92,17232,2.05,4430,1.22
19,Clinic/Center,854,0.51,615,0.31,18026,2.14,1017,0.28
20,Podiatrist,839,0.50,608,0.30,9813,1.16,2111,0.58
21,Skilled Nursing Facility,716,0.43,614,0.31,1983,0.24,1008,0.28
22,Urology,657,0.39,2011,1.01,9636,1.14,323,0.09
23,Home Health,615,0.37,1290,0.64,3790,0.45,1029,0.28
24,Neurological Surgery,430,0.26,324,0.16,3088,0.37,1332,0.37
25,Pain Medicine,261,0.16,250,0.12,3158,0.37,199,0.06
26,Rehabilitation Unit,191,0.11,188,0.09,67,0.01,77,0.02
27,General Practice,180,0.11,134,0.07,3546,0.42,887,0.25